* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

.container {
  display: flex;
  flex-wrap: wrap;
  background: url("../images/bg.jpg") no-repeat left fixed;
  overflow: hidden; }
  .container--subpage--gotowe {
    background: url("../images/bg2.jpg") no-repeat center fixed; }
  .container--subpage--slubne_na_miare {
    background: url("../images/bg3.jpg") no-repeat center fixed; }
  .container--subpage--xl {
    background: url("../images/bg2_s.jpg") no-repeat center fixed; }
  .container--subpage--wizytowe {
    background: url("../images/bg3_s.jpg") no-repeat center fixed; }
  .container--subpage--sukienki_na_miare {
    background: url("../images/bg2.jpg") no-repeat center fixed; }
  .container--subpage--dodatki {
    background: url("../images/bg3.jpg") no-repeat center fixed; }
  .container--subpage--komis {
    background: url("../images/bg3_s.jpg") no-repeat center fixed; }
  .container--subpage--czyszczenie {
    background: url("../images/bg2.jpg") no-repeat center fixed; }

.menu {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
  background-color: rgba(20, 20, 20, 0.8);
  color: #efe8e8;
  font-size: 2rem;
  transition: .3s; }
  .menu--subpage {
    background-color: rgba(20, 20, 20, 0.95); }
  .menu__burger {
    display: none;
    position: fixed;
    z-index: 2;
    top: 1%;
    right: 3%;
    padding: .5rem 1.5rem;
    border: 1px solid #efe8e8;
    box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
    background-color: rgba(20, 20, 20, 0.8);
    color: #efe8e8;
    box-shadow: none;
    font-size: 4rem;
    transition: .5s;
    cursor: pointer; }
  .menu__hidden {
    display: none;
    position: absolute;
    top: 0;
    right: -100vw;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(20, 20, 20, 0.95);
    transition: .5s; }
    .menu__hidden--active {
      right: 0; }
    .menu__hidden__list {
      position: relative;
      left: 0;
      top: 8%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      list-style: none; }
      .menu__hidden__list .menu__hidden__item {
        width: 90vw; }
      .menu__hidden__list .menu__hidden__link {
        display: block;
        border: 1px solid #efe8e8;
        border-radius: 5%;
        color: #efe8e8;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .3rem;
        cursor: pointer;
        border: none;
        font-size: 2.6rem;
        transition: .2s; }
  .menu__dropdown__list {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 18vw;
    background-color: rgba(20, 20, 20, 0.8);
    list-style: none;
    visibility: hidden; }
    .menu__dropdown__list--active {
      visibility: visible; }
  .menu__dropdown__link {
    display: block;
    padding: 1rem 0;
    border: 1px solid #efe8e8;
    border-radius: 5%;
    color: #efe8e8;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .3rem;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: rgba(20, 20, 20, 0.95);
    transition: background-color .2s, visibility 0s; }
    .menu__dropdown__link:hover {
      color: #C7900C; }
  .menu__list {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    list-style: none; }
    .menu__list .menu__logo {
      flex-basis: 30vw;
      padding: 2rem;
      color: #C7900C; }
    .menu__list .menu__item {
      position: relative; }
    .menu__list .menu__link {
      display: block;
      min-width: 12vw;
      padding: 1rem 0;
      border: 1px solid #efe8e8;
      border-radius: 5%;
      color: #efe8e8;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: .3rem;
      cursor: pointer;
      transition: .2s; }
      .menu__list .menu__link:hover {
        background-color: rgba(20, 20, 20, 0.8);
        color: #C7900C;
        border: 1px solid #C7900C; }
      .menu__list .menu__link--active {
        background-color: rgba(20, 20, 20, 0.8);
        color: #C7900C;
        border: 1px solid #C7900C; }
      .menu__list .menu__link__dropdown {
        position: relative;
        top: 50%;
        right: -8%;
        margin-right: 1rem; }

.intro {
  flex-basis: 100vw;
  min-height: 100vh;
  min-width: 32rem; }
  .intro__title {
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    padding: 1rem;
    box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
    background-color: rgba(20, 20, 20, 0.8);
    color: #efe8e8;
    font-size: 3rem;
    text-align: center; }
    .intro__title__header {
      color: #C7900C;
      letter-spacing: .4rem; }
      .intro__title__header--subpage {
        font-size: 3.5rem; }
    .intro__title__text {
      padding: 1rem 0;
      font-size: 2.5rem; }
      .intro__title__text--subpage {
        font-size: 2rem; }
    .intro__title__address {
      padding: 1rem 0;
      font-size: 2rem; }
    .intro__title__link {
      position: absolute;
      bottom: -50%;
      left: 50%;
      transform: translate(-50%, 50%);
      border: none;
      background-color: transparent;
      color: rgba(20, 20, 20, 0.95);
      font-size: 10rem;
      animation: arrows 1.5s infinite linear; }

@keyframes arrows {
  to {
    bottom: -70%; } }
    .intro__title--subpage {
      top: 45%;
      width: 75%;
      background-color: rgba(20, 20, 20, 0.95); }
  .intro__social {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    top: 13%;
    right: 1%; }
    .intro__social__item {
      padding: 1rem;
      margin-top: 3rem;
      border: 1px solid #efe8e8;
      box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
      background-color: rgba(20, 20, 20, 0.8);
      color: #efe8e8;
      background-color: rgba(20, 20, 20, 0.95);
      font-size: 3rem;
      transition: .2s;
      cursor: pointer; }
      .intro__social__item:hover {
        background-color: rgba(20, 20, 20, 0.8);
        color: #C7900C;
        border: 1px solid #C7900C; }
      .intro__social__item:last-child {
        position: fixed;
        bottom: 1%;
        right: 1%; }
    .intro__social__tooltip {
      position: absolute;
      top: 30%;
      left: -400%;
      padding: 1rem;
      border: 1px solid #efe8e8;
      box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
      background-color: rgba(20, 20, 20, 0.8);
      color: #efe8e8;
      font-size: 3rem;
      opacity: 0;
      transition: .2s; }
    .intro__social .fa-phone:hover ~ p {
      opacity: 1; }

.catalog,
.services {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100vw;
  justify-content: center;
  align-items: center;
  padding: 10rem 2rem;
  background-color: rgba(20, 20, 20, 0.8); }
  .catalog__modal,
  .services__modal {
    position: fixed;
    z-index: 1;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.95); }
    .catalog__modal__content,
    .services__modal__content {
      position: relative;
      top: 50%;
      left: 50%;
      width: 50rem;
      height: 70rem;
      transform: translate(-50%, -50%);
      background-color: #efe8e8; }
    .catalog__modal__img,
    .services__modal__img {
      width: 100%;
      height: 100%; }
    .catalog__modal__closeBtn,
    .services__modal__closeBtn {
      position: absolute;
      top: -2%;
      right: -3%;
      font-size: 3rem;
      color: #C7900C;
      cursor: pointer; }
    .catalog__modal__rightArrow,
    .services__modal__rightArrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -20%;
      font-size: 6rem;
      color: #efe8e8;
      cursor: pointer;
      transition: .1s; }
      .catalog__modal__rightArrow:hover,
      .services__modal__rightArrow:hover {
        color: #C7900C; }
    .catalog__modal__leftArrow,
    .services__modal__leftArrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -20%;
      font-size: 6rem;
      color: #efe8e8;
      cursor: pointer;
      transition: .1s; }
      .catalog__modal__leftArrow:hover,
      .services__modal__leftArrow:hover {
        color: #C7900C; }
  .catalog__section,
  .services__section {
    position: relative;
    top: 0;
    left: -110vw;
    width: 31rem;
    height: 44rem;
    margin: 2rem 5rem;
    border: 2px solid #efe8e8;
    box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
    transition: transform .3s, left 1s; }
    .catalog__section:hover,
    .services__section:hover {
      transform: scale(1.05); }
    .catalog__section--subpage,
    .services__section--subpage {
      left: 0;
      width: auto;
      cursor: pointer; }
      .catalog__section--subpage__img,
      .services__section--subpage__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 100%; }
    .catalog__section__header,
    .services__section__header {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%);
      width: 73%;
      padding: 1.5rem 2rem;
      box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
      background-color: rgba(20, 20, 20, 0.8);
      color: #efe8e8;
      color: #C7900C;
      font-size: 2.3rem;
      text-align: center; }
    .catalog__section__link,
    .services__section__link {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%);
      padding: 1.5rem 2.5rem;
      font-size: 2rem;
      box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
      background-color: rgba(20, 20, 20, 0.8);
      color: #efe8e8;
      border: 1px solid #efe8e8;
      border-radius: 5%;
      color: #efe8e8;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: .3rem;
      cursor: pointer;
      transition: .2s; }
      .catalog__section__link:hover,
      .services__section__link:hover {
        background-color: rgba(20, 20, 20, 0.8);
        color: #C7900C;
        border: 1px solid #C7900C; }
    .catalog__section__img,
    .services__section__img {
      width: 100%;
      height: 100%; }

.services__section {
  left: 0; }

.about {
  position: relative;
  width: 100vw;
  background: url("../images/bg2_s.jpg") fixed center;
  padding-bottom: 8rem; }
  .about__logo {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    height: 50rem;
    width: 50rem;
    background: url("../images/logo.png") center no-repeat;
    background-size: contain; }
  .about__content {
    box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
    background-color: rgba(20, 20, 20, 0.8);
    color: #efe8e8;
    width: 66%;
    padding: 2rem 4rem;
    margin: 2rem auto;
    border: 2px solid #efe8e8;
    text-align: center; }
    .about__content__header {
      font-size: 6rem;
      color: #C7900C; }
    .about__content__text {
      padding: 1rem;
      font-size: 2rem; }

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  padding: 6rem;
  background-color: rgba(20, 20, 20, 0.8); }
  .contact__map {
    flex-basis: 50rem; }
  .contact__info {
    box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
    background-color: rgba(20, 20, 20, 0.8);
    color: #efe8e8;
    flex-basis: 50rem;
    padding: 2rem;
    border: 2px solid #efe8e8;
    font-size: 3rem;
    text-align: center; }

.footer {
  min-height: 3vh;
  width: 100vw;
  background-color: black;
  color: #efe8e8;
  line-height: 3vh;
  text-align: center;
  letter-spacing: .1rem; }
  .footer__link {
    color: #efe8e8;
    text-decoration: none; }

@media (max-width: 850px) {
  .container {
    background-size: cover; }
  .menu__hidden {
    display: block; }
  .menu__burger {
    display: block; }
    .menu__burger:hover {
      background-color: rgba(20, 20, 20, 0.8);
      color: #C7900C;
      border: 1px solid #C7900C; }
    .menu__burger--active {
      transform: rotate(180deg); }
  .menu__list {
    display: none; }
  .intro__title {
    width: 95%; }
    .intro__title__header {
      font-size: 4rem; }
      .intro__title__header--subpage {
        font-size: 3rem; }
    .intro__title__link {
      display: none; }
  .intro__social {
    display: none; }
  .catalog__modal {
    display: none; }
  .catalog__section,
  .services__section {
    margin: 2rem .5rem; }
    .catalog__section:hover,
    .services__section:hover {
      transform: scale(1); }
    .catalog__section__header,
    .services__section__header {
      font-size: 2.3rem; }
  .about__logo {
    top: 1%; }
  .about__logo,
  .about__content {
    width: 95%; }
    .about__logo__header,
    .about__content__header {
      font-size: 4rem; }
  .contact {
    padding: 1rem; } }

@media (max-width: 350px) {
  .catalog,
  .services {
    padding: 0; } }

@media (max-height: 750px) {
  .intro__title {
    margin-bottom: 15%;
    width: 95%; }
    .intro__title--subpage {
      top: 50%;
      width: 85%; }
    .intro__title__link {
      display: none; }
  .intro__social {
    display: none; } }
