* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

.container {
  display: flex;
  flex-wrap: wrap;
  background: url("/images/bg.jpg") no-repeat left fixed;
  overflow: hidden; }

.menu {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  z-index: 1;
  width: 100%;
  box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
  background-color: rgba(20, 20, 20, 0.8);
  color: #efe8e8;
  font-size: 2.5rem;
  transition: .3s; }
  .menu__list {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    list-style: none; }
    .menu__list .menu__logo {
      flex-basis: 50vw;
      padding: 2rem;
      color: #C7900C; }
    .menu__list .menu__link {
      display: block;
      min-width: 13vw;
      height: 100%;
      padding: 1rem 0;
      border: 1px solid #efe8e8;
      border: 1px solid #efe8e8;
      border-radius: 5%;
      color: #efe8e8;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: .3rem;
      cursor: pointer;
      transition: .2s; }
      .menu__list .menu__link:hover {
        background-color: rgba(20, 20, 20, 0.8);
        color: #C7900C;
        border: 1px solid #C7900C; }
      .menu__list .menu__link__active {
        background-color: rgba(20, 20, 20, 0.8);
        color: #C7900C;
        border: 1px solid #C7900C; }

main {
  flex-basis: 100vw;
  height: 100vh; }
  main .intro {
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    padding: 1rem;
    box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
    background-color: rgba(20, 20, 20, 0.8);
    color: #efe8e8;
    font-size: 3rem;
    text-align: center; }
    main .intro__header {
      color: #C7900C;
      letter-spacing: .4rem; }
    main .intro__text {
      padding: 1rem 0;
      font-size: 2.5rem; }
    main .intro__address {
      padding: 1rem 0;
      font-size: 2rem; }
    main .intro__button {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      border: none;
      background-color: transparent;
      color: rgba(20, 20, 20, 0.8);
      font-size: 10rem; }
      main .intro__button__link {
        color: rgba(20, 20, 20, 0.8); }

@keyframes arrows {
  to {
    bottom: -5%; } }
    main .intro__social {
      position: fixed;
      z-index: 1;
      display: flex;
      flex-direction: column;
      top: 13%;
      right: 1%; }
      main .intro__social__item {
        padding: 1rem;
        margin-top: 3rem;
        border: 1px solid #efe8e8;
        box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
        background-color: rgba(20, 20, 20, 0.8);
        color: #efe8e8;
        font-size: 3rem;
        transition: .2s;
        cursor: pointer; }
        main .intro__social__item:hover {
          background-color: rgba(20, 20, 20, 0.8);
          color: #C7900C;
          border: 1px solid #C7900C; }
        main .intro__social__item:last-child {
          position: fixed;
          bottom: 1%;
          right: 1%; }
      main .intro__social__tooltip {
        position: absolute;
        top: 30%;
        left: -400%;
        padding: 1rem;
        border: 1px solid #efe8e8;
        box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
        background-color: rgba(20, 20, 20, 0.8);
        color: #efe8e8;
        font-size: 3rem;
        opacity: 0;
        transition: .2s; }
      main .intro__social .fa-phone:hover ~ p {
        opacity: 1; }

.catalog {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100vw;
  justify-content: space-evenly;
  align-items: center;
  min-height: 50vh;
  background-color: rgba(20, 20, 20, 0.8);
  padding: 10rem 2rem;
  box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8); }
  .catalog__section {
    position: relative;
    top: 0;
    left: -110%;
    width: 42rem;
    height: 60rem;
    margin: 2rem 0 0 0;
    border: 2px solid #efe8e8;
    box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8); }
    .catalog__section__header {
      position: absolute;
      top: 2%;
      left: 50%;
      transform: translate(-50%);
      box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
      background-color: rgba(20, 20, 20, 0.8);
      color: #efe8e8;
      color: #C7900C;
      font-size: 3.5rem;
      padding: 1.5rem 2rem;
      width: 73%;
      text-align: center; }
    .catalog__section__button {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%);
      padding: 1.5rem 2.5rem;
      box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
      background-color: rgba(20, 20, 20, 0.8);
      color: #efe8e8;
      border: 1px solid #efe8e8;
      border-radius: 5%;
      color: #efe8e8;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: .3rem;
      cursor: pointer;
      transition: .2s; }
      .catalog__section__button:hover {
        background-color: rgba(20, 20, 20, 0.8);
        color: #C7900C;
        border: 1px solid #C7900C; }
    .catalog__section__A {
      background: url("/images/thumb (3).jpg") no-repeat;
      background-position: 45% 2%;
      background-size: 200%;
      transition: background-size .5s, left 1s ease-out; }
      .catalog__section__A:hover {
        background-size: 210%; }
    .catalog__section__B {
      background: url("/images/thumb (4).jpg") no-repeat;
      background-position: 70% 0%;
      background-size: 100%;
      transition: background-size .5s, left 1.2s ease-out; }
      .catalog__section__B:hover {
        background-size: 105%; }
    .catalog__section__C {
      background: url("/images/thumb (2).jpg") no-repeat;
      background-position: 70% 0%;
      background-size: 100%;
      transition: background-size .5s, left 1.4s ease-out; }
      .catalog__section__C:hover {
        background-size: 105%; }
    .catalog__section__D {
      background: url("/images/thumb (6).jpg") no-repeat;
      background-position: 90% 0%;
      background-size: 120%;
      transition: background-size .5s, left 1.6s ease-out; }
      .catalog__section__D:hover {
        background-size: 125%; }

.about {
  position: relative;
  width: 100vw;
  background: url("/images/bg2_s.jpg") fixed center;
  padding-bottom: 8rem; }
  .about__logo {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    height: 50rem;
    width: 50rem;
    background: url("/images/logo.png") center no-repeat;
    background-size: contain; }
  .about__content {
    box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
    background-color: rgba(20, 20, 20, 0.8);
    color: #efe8e8;
    width: 66%;
    border: 2px solid #efe8e8;
    text-align: center;
    margin: 2rem auto;
    padding: 2rem 4rem; }
    .about__content__header {
      font-size: 6rem;
      color: #C7900C; }
    .about__content__text {
      font-size: 2rem;
      padding: 1rem; }

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 6rem;
  width: 100vw;
  background-color: rgba(20, 20, 20, 0.8); }
  .contact__map {
    flex-basis: 50rem; }
  .contact__info {
    box-shadow: 0 5px 5px rgba(20, 20, 20, 0.8);
    background-color: rgba(20, 20, 20, 0.8);
    color: #efe8e8;
    flex-basis: 50rem;
    border: 2px solid #efe8e8;
    padding: 2rem;
    font-size: 3rem;
    text-align: center; }

footer {
  min-height: 10vh; }
