$transparentBlack: rgba(20, 20, 20, .8);
$white: rgb(239, 232, 232);
$gold: #C7900C;

@mixin hover() {
   background-color: $transparentBlack;
   color: $gold;
   border: 1px solid $gold;
}

@mixin basicBoxStyle() {
   box-shadow: 0 5px 5px $transparentBlack;
   background-color: $transparentBlack;
   color: $white;
}

@mixin button() {
   border: 1px solid $white;
   border-radius: 5%;
   color: $white;
   text-decoration: none;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: .3rem;
   cursor: pointer;
}