@import 'variables';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', Arial, sans-serif;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

.container {
   display: flex;
   flex-wrap: wrap;
   background: url('../images/bg.jpg') no-repeat left fixed;
   overflow: hidden;

   &--subpage {
      &--gotowe {
         background: url('../images/bg2.jpg') no-repeat center fixed;
      }

      &--slubne_na_miare {
         background: url('../images/bg3.jpg') no-repeat center fixed;
      }

      &--xl {
         background: url('../images/bg2_s.jpg') no-repeat center fixed;
      }

      &--wizytowe {
         background: url('../images/bg3_s.jpg') no-repeat center fixed;
      }

      &--sukienki_na_miare {
         background: url('../images/bg2.jpg') no-repeat center fixed;
      }

      &--dodatki {
         background: url('../images/bg3.jpg') no-repeat center fixed;
      }

      &--komis {
         background: url('../images/bg3_s.jpg') no-repeat center fixed;
      }

      &--czyszczenie {
         background: url('../images/bg2.jpg') no-repeat center fixed;
      }


   }
}

// MENU

.menu {
   position: fixed;
   z-index: 1;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   @include basicBoxStyle();
   font-size: 2rem;
   transition: .3s;



   &--subpage {
      background-color: $barelyTransparentBlack;
   }

   &__burger {
      display: none;
      position: fixed;
      z-index: 2;
      top: 1%;
      // transform: translateY(10%);
      right: 3%;
      padding: .5rem 1.5rem;
      border: 1px solid $white;
      @include basicBoxStyle();
      box-shadow: none;
      font-size: 4rem;
      transition: .5s;
      cursor: pointer;
   }

   &__hidden {
      display: none;
      position: absolute;
      top: 0;
      right: -100vw;
      width: 100%;
      min-height: 100vh;
      background-color: $barelyTransparentBlack;
      transition: .5s;

      &--active {
         right: 0;
      }

      &__list {
         position: relative;
         left: 0;
         top: 8%;
         height: 100vh;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-evenly;
         list-style: none;


         .menu__hidden__item {
            width: 90vw;
         }

         .menu__hidden__link {
            display: block;
            @include button();
            border: none;
            font-size: 2.6rem;
            transition: .2s;
         }
      }
   }

   &__dropdown__list {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      min-width: 18vw;
      background-color: $transparentBlack;
      list-style: none;
      visibility: hidden;

      &--active {
         visibility: visible;
      }
   }

   &__dropdown__link {
      display: block;
      padding: 1rem 0;
      @include button();
      border: none;
      border-radius: 0;
      background-color: $barelyTransparentBlack;
      transition: background-color .2s, visibility 0s;

      &:hover {
         color: $gold;
      }
   }

   &__list {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: space-around;
      list-style: none;

      .menu__logo {
         flex-basis: 30vw;
         padding: 1rem;
         color: $gold;
         font-size: 2.3rem;
         transition: .2s;
      }

      .menu__title {
         font-size: 1.4rem;
         transition: .2s;
      }

      .menu__item {
         position: relative;
      }

      .menu__link {
         display: block;
         min-width: 12vw;
         padding: 1rem 0;
         // border: 1px solid $white;
         @include button();
         transition: .2s;

         &:hover {
            @include hover
         }

         &--active {
            @include hover
         }

         &__dropdown {
            position: relative;
            top: 50%;
            // transform: translateY(-50%);
            right: -8%;
            margin-right: 1rem;
         }
      }
   }
}

//INTRO

.intro {
   flex-basis: 100vw;
   min-height: 100vh;
   min-width: 32rem;

   &__title {
      position: relative;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50rem;
      padding: 1rem;
      @include basicBoxStyle();
      background-color: $barelyTransparentBlack;
      font-size: 3rem;
      text-align: center;


      &__header {
         color: $gold;
         letter-spacing: .4rem;

         &--subpage {
            font-size: 3.5rem;
         }
      }

      &__logo {
         width: 100%;
      }

      &__text {
         padding: 1rem 0;
         font-size: 2.5rem;

         &--subpage {
            font-size: 2rem;
         }
      }

      &__address {
         padding: 1rem 0;
         font-size: 2rem;
      }

      &__link {
         position: absolute;
         bottom: -50%;
         left: 50%;
         transform: translate(-50%, 50%);
         border: none;
         background-color: transparent;
         color: $barelyTransparentBlack;
         font-size: 10rem;
         animation: arrows 1.5s infinite linear;

         @keyframes arrows {
            to {
               bottom: -70%;
            }
         }
      }

      &--subpage {
         top: 45%;
         width: 75%;
         background-color: $barelyTransparentBlack;
      }
   }

   &__social {
      position: fixed;
      z-index: 1;
      display: flex;
      flex-direction: column;
      top: 13%;
      right: 1%;


      &__item {
         padding: 1rem;
         margin-top: 3rem;
         border: 1px solid $white;
         @include basicBoxStyle();
         background-color: $barelyTransparentBlack;
         font-size: 3rem;
         transition: .2s;
         cursor: pointer;

         &:hover {
            @include hover;
            background-color: $barelyTransparentBlack;
         }

         &:last-child {
            position: fixed;
            bottom: 1%;
            right: 1%;
         }
      }


      &__tooltip {
         position: absolute;
         top: 30%;
         left: -400%;
         padding: 1rem;
         border: 1px solid $white;
         @include basicBoxStyle();
         font-size: 3rem;
         opacity: 0;
         transition: .2s;
      }

      .fa-phone:hover~p {
         opacity: 1;
      }
   }
}


//CATALOG & SERVICES


.catalog,
.services {
   display: flex;
   flex-wrap: wrap;
   flex-basis: 100vw;
   justify-content: center;
   align-items: center;
   // min-height: 50vh;
   padding: 10rem 2rem;
   // box-shadow: 0 5px 5px $transparentBlack;
   background-color: $transparentBlack;


   &__modal {
      position: fixed;
      z-index: 1;
      visibility: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $barelyTransparentBlack;
      // transition: .2s;

      &__content {
         position: relative;
         top: 50%;
         left: 50%;
         width: 50rem;
         height: 70rem;
         transform: translate(-50%, -50%);
         background-color: $white;

      }

      &__img {
         width: 100%;
         height: 100%;
      }

      &__closeBtn {
         position: absolute;
         top: -2%;
         right: -3%;
         font-size: 3rem;
         color: $gold;
         cursor: pointer;
      }

      &__rightArrow {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         right: -20%;
         font-size: 6rem;
         color: $white;
         cursor: pointer;
         transition: .1s;

         &:hover {
            color: $gold;
         }
      }

      &__leftArrow {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         left: -20%;
         font-size: 6rem;
         color: $white;
         cursor: pointer;
         transition: .1s;

         &:hover {
            color: $gold;
         }
      }
   }

   &__section {
      position: relative;
      top: 0;
      left: -110vw;
      width: 31rem;
      height: 44rem;
      margin: 2rem 5rem;
      border: 2px solid $white;
      box-shadow: 0 5px 5px $transparentBlack;
      transition: transform .3s, left 1s;

      &:hover {
         transform: scale(1.05)
      }

      &--subpage {
         left: 0;
         width: auto;
         cursor: pointer;

         &__img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: auto;
            height: 100%;
         }
      }

      &__header {
         position: absolute;
         top: 30%;
         left: 50%;
         transform: translate(-50%);
         width: 73%;
         padding: 1.5rem 2rem;
         @include basicBoxStyle();
         color: $gold;
         font-size: 2.3rem;
         text-align: center;
      }

      &__link {
         position: absolute;
         bottom: 10%;
         left: 50%;
         transform: translate(-50%);
         padding: 1.5rem 2.5rem;
         font-size: 2rem;
         @include basicBoxStyle();
         @include button();
         transition: .2s;

         &:hover {
            @include hover
         }
      }

      &__img {
         width: 100%;
         height: 100%;
      }
   }
}

.services__section {
   left: 0;
}

//ABOUT

.about {
   position: relative;
   width: 100vw;
   background: url('../images/bg2_s.jpg') fixed center;
   padding-bottom: 8rem;

   &__logo {
      position: relative;
      top: 5%;
      left: 50%;
      transform: translateX(-50%);
      height: 50rem;
      width: 50rem;
      background: url('../images/logo.png') center no-repeat;
      background-size: contain;
   }

   &__content {
      @include basicBoxStyle();
      width: 66%;
      padding: 2rem 4rem;
      margin: 2rem auto;
      border: 2px solid $white;
      text-align: center;

      &__header {
         font-size: 6rem;
         color: $gold;
      }

      &__text {
         padding: 1rem;
         font-size: 2rem;
      }
   }
}

//CONTACT

.contact {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   width: 100vw;
   padding: 6rem;
   background-color: $transparentBlack;

   &__map {
      flex-basis: 50rem;
   }

   &__info {
      @include basicBoxStyle();
      flex-basis: 50rem;
      padding: 2rem;
      border: 2px solid $white;
      font-size: 3rem;
      text-align: center;
   }
}

//FOOTER

.footer {
   min-height: 3vh;
   width: 100vw;
   background-color: black;
   color: $white;
   line-height: 3vh;
   text-align: center;
   letter-spacing: .1rem;

   &__link {
      color: $white;
      text-decoration: none;
   }
}


@media (max-width: 850px) {

   .container {
      background-size: cover;
   }

   .menu__hidden {
      display: block;
   }

   .menu__burger {
      display: block;

      &:hover {
         @include hover();
      }

      &--active {
         transform: rotate(180deg);
      }
   }

   .menu__list {
      display: none;
   }

   .intro {
      &__title {
         width: 95%;

         &__header {
            font-size: 4rem;

            &--subpage {
               font-size: 3rem;
            }
         }

         &__link {
            display: none
         }
      }

      &__social {
         display: none;
      }
   }

   .catalog__modal {
      display: none;
   }

   .catalog__section,
   .services__section {
      margin: 2rem .5rem;

      &:hover {
         transform: scale(1)
      }

      &__header {
         font-size: 2.3rem;
      }
   }

   .about__logo {
      top: 1%;
   }

   .about__logo,
   .about__content {
      width: 95%;

      &__header {
         font-size: 4rem;
      }
   }

   .contact {
      padding: 1rem
   }
}

@media (max-width: 350px) {

   .catalog,
   .services {
      padding: 0;
   }
}

@media (max-height: 750px) {
   .intro {


      &__title {
         margin-bottom: 15%;
         width: 95%;

         &--subpage {
            top: 50%;
            width: 85%;
         }

         &__link {
            display: none
         }
      }

      &__social {
         display: none;
      }
   }
}